.card {
  min-height: 500px !important;
}
.img-container {
  height: 300px;
}

.form-description {
  height: 100px;
  resize: none;
}

img {
  height: 100%;
  object-fit: cover;
}
.d-flex .badge {
  display: flex;
  align-items: center;
}
